body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.content-column {
    padding-top: 15px;
    min-height: 100vh!important;
    height: auto!important;
    padding-bottom: 80px;
    box-shadow: inset 2px 2px 3px rgba(0,0,0,.50);
}

#functionsCol {
    background-color: aqua;
    border-right: 1px dotted rgba(0,0,0,.75);
}

#functionsCol button {
    font-family: 'Lexend Zetta', sans-serif;
}

#functionsCol label {
    background-color: rgba(255,255,255,.75);
    margin-bottom: 15px;
    border-top: 1px dotted rgba(100,100,200,1);
    border-bottom: 1px dotted rgba(100,100,200,1);
}

#todoCol {
    background-color: indianred;
}

#inProgressCol {
    background-color: coral;
    border-left: 1px dotted rgba(0,0,0,.75);
    border-right: 1px dotted rgba(0,0,0,.75);
}

#doneCol {
    background-color: lightgreen;
}

.colTitle {
    top:0px;
    padding: 5px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 4px;
    border: 1px dotted rgba(0,0,0,.75);
    background-color: rgba(10,10,10,1);
    color:rgba(255,255,255,.75);
    box-shadow: 4px 4px 8px rgba(0,0,0,.75);
    font-family: 'Teko', sans-serif;
}

.colTitle h2 {
    margin-bottom: 0px;
}

.colTitle .sorter {
    font-size:0.75em;
    right:0px;
    position: relative;
    cursor: pointer;
}

.colTitle .sorter i {
    margin: 0px 2px 0px 2px;
}

.taskWrapper {
    height: 100%;
}

#backlogSelectorWrapper {
    /*border-top: 2px dotted rgba(0,0,0,.45);*/
    padding:10px 0;
}

#backlogNameWrapper {
    /*border-top: 2px dotted rgba(0,0,0,.45);
    border-bottom: 2px dotted rgba(0,0,0,.45);*/
    padding:10px 0;
}

.task {
    width:100%;
    min-height: 60px;
    height: auto;
    background-color: rgba(255,255,0,.90);
    box-shadow: 4px 4px 8px rgba(0,0,0,.85);
    margin: 10px 0px;
    cursor: pointer;
    z-index: 10;
    font-size: 14px;
    padding: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px 4px 4px 4px;
    overflow:visible;
    text-align: left;
    font-family: 'Kalam', cursive;
}

.taskPriority {
    text-align: center;
    font-style: normal;
    font-family: 'Teko', sans-serif;
    font-size: 14px;
    padding-top: 1px;
    width: 26px;
    border-radius: 13px;
    border: 2px solid rgba(0,0,0,1);
    margin-left: 4px;
}

.task #taskPriority {
    width: 36px;
    margin-left: 4px;
    background-color: transparent;
    box-shadow: inset 2px 2px 3px #000000;
    border: 0px solid transparent;
    padding-left: 5px;
}

.task textarea {
    width: 75%;
    height: 100%;
    resize: none;
    border-radius: 4px;
    /*background-color: rgba(255,255,255,.85);*/
    background-color: transparent;
    box-shadow: inset 2px 2px 3px #000000;
    border: 0px solid transparent;
    padding-left: 5px;
}

.task button {
    margin-left: 4px;
    height:28px;
    width: 28px;
    color:#000;
    background-color: transparent;
    border: 0px solid transparent;
}

.task button:hover {
    color: #fff;
}

.errorMessage {
    border-radius:4px;
    padding:5px;
    color: rgba(255,255,255,.75);
    text-align: center;
    margin-bottom: 5px;
}

.copyrightWrapper {
    bottom:5px;
    font-size: 12px;
    color:#000;
    font-style: italic;
    margin-left: -15px;
}
